.container.footer-container
  .row
    .col-sm-7.col-xs-12.footer-body
      %span.glyphicon.glyphicon-copyright-mark
      2014 -- A Cullen Jett Joint. 
      %span.blue-color Shout out to <a href="http://www.getbootstrap.com">Twitter Bootstrap</a> for making life easier.
    .col-sm-5.text-right.footer-body.pullfix
      %span.bold-text Cullen Jett
      %small.red-color { A Ruby on Rails Developer }