%nav.navbar.navbar-default.navbar-shadow{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path do
        %img.img-responsive.navbar-brand(src="/cj-logo.png")
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - if current_page?(root_path)  
        %ul.nav.navbar-nav
          %li
            %a{href: '#about'} About Me
          %li
            %a{href: '#work'} Recent Work
          %li
            %a{href: '#github'} GitHub Repos

      %ul.nav.navbar-nav.navbar-right
        %li
          .navbar-text
            %a(href="mailto:cullenjett@gmail.com")
              %span.glyphicon.glyphicon-envelope
              cullenjett@gmail.com
