nav {
  font-size: 1.1em;
  border: none;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  max-width: 80px;
}

.navbar-header {
  padding-left: 3.8%;
}

.logo {
  padding: 0;
  margin: 0;
  width: 75px;
  height: 75px;
}

.navbar-nav {
  margin-left: 2%;
}

.navbar-shadow {
  box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.16);
}

.navbar-text {
  margin-right: 50px;

  span {
    margin-right: 10px;
  }
}