#repos {
  margin: 0px auto;
  width: 100%;
  .box {
    // background: #f5f5f5;
	  margin: 5px;
	  width: 200px;
	  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.2);
	  border-radius: 7px;
	  text-align: center;
    .img-box {
      padding-top: 10px;
      width: 75px;
    }
    .panel-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h2 {
	  	font-size: 20px;
	  	margin: 0;
	  	padding-top: 0;
      padding-bottom: 10px
	  }
    .description {
      // font-family: "Droid Serif";
      font-size: 12px;
      margin: 0;
      padding-bottom: 15px;
    }
    .repo-info {
      font-size: 12px;
      color: #515151;
      .message {
        font-family: "Droid Serif";
      }
  	  .last-commit {
  	  	border-top: 1px solid #EAEAEA;
  			padding-top: 15px;
        padding-bottom: 10px;
  			margin: 0;
  	  }
      .date {
        font-family: "Droid Serif";
        .today-badge {
          font-size: 10px;
          background: black;
          color: white;
          padding: 5px;
          border-radius: 3px;
        }
        .yesterday-badge {
          font-size: 10px;
          border: 1px solid black;
          border-radius: 5px;
          padding: 3px;
        }
      }
    }
	}
}
